In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
def createDataFrame():
  names = ["SBD","Toan","Van","NgoaiNgu","VatLy","HoaHoc","SinhHoc","DiemTBTuNhien","LichSu","DiaLy","GDCD","DiemTBXaHoi"]
  return pd.DataFrame(columns = names)
createDataFrame()

Empty DataFrame
Columns: [SBD, Toan, Van, NgoaiNgu, VatLy, HoaHoc, SinhHoc, DiemTBTuNhien, LichSu, DiaLy, GDCD, DiemTBXaHoi]
Index: []

In [ ]:
path = "/content/drive/MyDrive/Crawler/"
import tqdm
import os
import json
for subfolder in os.listdir(path):
  df = createDataFrame()
  for filename in (os.listdir(path + subfolder)):
      if filename.endswith(".json"):
        f = open(os.path.join(path,subfolder ,filename), "r") 
        data = json.load(f)
        f.close()
        for stundentdict in data: 
          df = df.append(stundentdict["Student"],ignore_index=True)
      else:
        continue
  df.to_csv("/content/drive/MyDrive/Crawler/csv/{}".format(subfolder + ".csv") )

01
.ipynb_checkpoints
02
03
04
05
06
07
08
09
10
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
csv

In [ ]:
path = "/content/drive/MyDrive/Crawler/61"
import os
import json
for filename in os.listdir(path):
    if filename.endswith(".json"):
      f = open (os.path.join(path, filename), "r") 
      data = json.load(f)
      f.close()
      for stundentdict in data:
          df = df.append(stundentdict["Student"],ignore_index=True)

    else:
        continue

In [ ]:
df

        SBD  Toan   Van NgoaiNgu  ... LichSu DiaLy  GDCD DiemTBXaHoi
0  01078364  7.60  9.00     4.80  ...   6.25  7.50  8.00        7.25

[1 rows x 12 columns]

In [ ]:
df.append(data[2]["Student"],ignore_index=True)

        SBD  Toan   Van NgoaiNgu  ... LichSu DiaLy  GDCD DiemTBXaHoi
0       NaN   NaN   NaN      NaN  ...    NaN   NaN   NaN         NaN
1  01000003  8.80  6.50     6.00  ...   None  None  None        None

[2 rows x 12 columns]

In [ ]:
df

     SBD Toan  Van NgoaiNgu VatLy  ... DiemTBTuNhien LichSu DiaLy GDCD DiemTBXaHoi
SBD  NaN  NaN  NaN      NaN   NaN  ...           NaN    NaN   NaN  NaN         NaN

[1 rows x 12 columns]